<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        Parent Category List
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
              <tr class="text-center">
                <th>Index No</th>
                <th>Category Name</th>
                <th>Department Name</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                @for(item of gridtList; track $index){
                  <tr>
                    <td>{{$index+1}}</td>
                    <td>{{item.categoryName}}</td>
                    <td>{{item.deptName}}</td>
                    <td class="text-center">
                      <button class="btn btn-primary" (click)="onEdit(item)">Edit</button>
                      <button class="btn btn-danger" (click)="onDelete(item.deptId)">Delete</button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        New Category
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <label>Category Name</label>
            <input type="text" [(ngModel)]="newObj.categoryName" class="form-control">
          </div>

            <div class="col-12">
              <label>Department</label>
              <select [(ngModel)]="newObj.deptId">
                <option value="">select department</option>
                @for (item of deptList; track $index){
                  <option [value]="item.deptId">{{item.deptName}}</option>
                }
              </select>
            </div>


        </div>
        <div class="row pt-3">
          <div class="col-6 text-center">
            <input type="reset" class="btn btn-secondary">
          </div>
          @if(this.newObj.categoryId == 0){
            <div class="col-6 text-center">
              <button class="btn btn-success" (click)="save()"> Save Dept</button>
            </div>
          } @else {
            <div class="col-6 text-center">
              <button class="btn btn-warning" (click)="edit()">Update</button>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
